---
---
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <title>CNR TV Noticias - Canal 73 Unión con Compromiso</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="CNR, TV, Noticias, 73, Estatal, baja, baja california, california, news," name="keywords">
    <meta
        content="Canal de televisión del Estado de Baja California. Siempre llevando la noticia en tiempo y forma sin filtros. Comprometidos con la comunidad."
        name="description">
    <meta property="og:title" content="CNR TV Noticias - Canal 73 Unión con Compromiso" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cnrnoticias.tv/" />
    <meta property="og:description"
        content="Canal de televisión del Estado de Baja California. Siempre llevando la noticia en tiempo y forma sin filtros. Comprometidos con la comunidad." />
    <meta property="og:image" content="https://cnrnoticias.tv/img/logos/og.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CentroRosarito" />
    <meta name="twitter:creator" content="@CentroRosarito" />
    <meta name="twitter:image" content="https://cnrnoticias.tv/img/cnr/logocnr.jpg" />
    <meta name="twitter:title" content="CNR TV Noticias - Canal 73 Unión con Compromiso" />
    <meta name="twitter:description"
        content="Canal de televisión del Estado de Baja California. Siempre llevando la noticia en tiempo y forma sin filtros. Comprometidos con la comunidad." />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/cnricon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/cnricon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/cnricon/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-181241474-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-181241474-1');
    </script>

    <script data-ad-client="ca-pub-9753436747049932" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">    </script>

    <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://cnrnoticias.tv/",
            "image": [
                "https://cnrnoticias.tv/img/cnr/logocnr.jpg"
              ],
            "@id": "https://cnrnoticias.tv/",
            "name": "CNR TV Noticias - Canal 73 Unión con Compromiso",
            "sameAs" : [
                "https://www.facebook.com/cnrnoticias ",
                "https://www.instagram.com/cnrtv73/",
                "https://www.youtube.com/channel/UCRhoI3g9LB5C3-H7y9vQgxw",
                "https://twitter.com/CentroRosarito",
                "https://www.linkedin.com/in/rosaritocentro/"
                ]
          }
        </script>
</head>

<body>

  
    {% include navbar.html%}

    <!--a class="weatherwidget-io" href="https://forecast7.com/es/32d51n117d04/tijuana/"
    data-label_1="Tijuana" data-label_2="Playas de Rosarito" data-icons="Climacons Animated"
    data-theme="pure">Tijuana Playas de Rosarito</a-->

    <!-- Top News Start-->

    <div class="row">
        <div class="col-lg-2 col-sm-2 order-2 order-sm-0 tn-left pl-4">
            <div class="top-news">
                <a class="weatherwidget-io" href="https://forecast7.com/es/32d51n117d04/tijuana/"
                data-label_1="Tijuana" data-label_2="Playas de Rosarito" data-icons="Climacons Animated"
                data-theme="pure">Tijuana Playas de Rosarito</a>
            </div>
            <hr>
            <!--div class="top-news">
                <a href="tel:6616129149" class="venobox" data-gall="gallery-item">
                    <img src="img\patrocinadores\tortilleria-el-diamante.png"
                    alt="Tortillera el Diamante" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="https://pagos.tijuana.gob.mx/PagosenLinea/index.aspx" class="venobox" data-gall="gallery-item">
                    <img src="img/banners/publicidad-predial.jpeg" alt="Predial Tijuana" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="https://rosaritocentro.com/" class="venobox" data-gall="gallery-item">
                    <img src="img/patrocinadores/Rosarito-Centro.jpg"
                    alt="Rosarito Centro" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="http://www.afntijuana.info" class="venobox" data-gall="gallery-item">
                    <img src="img/patrocinadores/AFN.jpeg" alt="Agencia Fronteriza de NOTICIAS" class="img-fluid">
                </a>
            </div-->
                        
        </div>
        <div class="col-lg-8 col-sm-8 order-1 order-sm-1 tn-left">

            <div class="top-news">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 tn-left">
                            <div class="row tn-slider">
                                <div class="col-md">
                                    <div class="video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe src='//www.opencaster.com/mauricioalcala-100-100' width='auto'
                                                height='auto' frameborder='0' scrolling="no" target="_blank"
                                                allowfullscreen="yes"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 tn-right">
                            <div class="row tn">
                                <div class="col-md">
                                    <div class="video">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/k6VioF3gEYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="col-md">
                                    <div class="tn-img">
                                        <img loading="lazy" src="img/logos/portada.jpg" width='auto' height='auto'
                                            alt="CNR Mario Rivera" />
                                        <div class="tn-title">
                                            <a href="https://cnrnoticias.tv/"></a>
                                        </div>
                                    </div>
                                </div-->
                                <!--div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/cnr/popup.jpg" alt="Logo CNR 18 Aniversario"/>
                                <div class="tn-title">
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/cnr/popup.jpg" alt="73 Estatal"/>
                                <div class="tn-title">
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/cnr/popup.jpg" alt="Logo CNR"/>
                                <div class="tn-title">
                                    <a href=""></a>
                                </div>
                            </div>
                        </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top News End-->
            {% include noticias.html %}
            
            <!-- Banner Start-->
            <div class="banner">
                <div class="container">
                    <div class="row">
                        <!--div class="b-ads">
                            <a href="https://pagos.tijuana.gob.mx/PagosenLinea/index.aspx" target="_blank">
                                <img src="img/banners/publicidad-predial.jpeg"
                                    alt="Predial Tijuana" class="img-fluid">
                            </a>
                        </div-->
                        <div class="b-ads">
                            
                            <a href="https://pagos.tijuana.gob.mx/PagosenLinea/index.aspx" target="_blank">
                                <img src="img/banners/banner-predial.jpeg"
                                    alt="Predial Tijuana" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End-->

          
            <!-- Main News Start-->
            <!--div class="main-news">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="mn-img">
                                        <a href="http://www.afntijuana.info" class="venobox" data-gall="gallery-item">
                                            <img src="img\patrocinadores\AFN.jpeg" alt="Agencia Fronteriza de NOTICIAS">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mn-img">
                                        <a href="http://www.afntijuana.info" class="venobox" data-gall="gallery-item">
                                            <img src="img\patrocinadores\AFN.jpeg" alt="Agencia Fronteriza de NOTICIAS">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mn-img">
                                        <a href="http://www.afntijuana.info" class="venobox" data-gall="gallery-item">
                                            <img src="img\patrocinadores\AFN.jpeg" alt="Agencia Fronteriza de NOTICIAS">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            <!-- Main News End-->

            <style>
                .image-source-link {
                    color: #98C3D1;
                }

                .mfp-with-zoom .mfp-container,
                .mfp-with-zoom.mfp-bg {
                    opacity: 0;
                    -webkit-backface-visibility: hidden;
                    /* ideally, transition speed should match zoom duration */
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }

                .mfp-with-zoom.mfp-ready .mfp-container {
                    opacity: 1;
                }

                .mfp-with-zoom.mfp-ready.mfp-bg {
                    opacity: 0.8;
                }

                .mfp-with-zoom.mfp-removing .mfp-container,
                .mfp-with-zoom.mfp-removing.mfp-bg {
                    opacity: 0;
                }
            </style>

            <!--div class="d-none popup-gallery  hidden-xs-up">
        <a id="comunicados" href="https://cnrnoticias.tv/img/comunicados/paga-tu-predial-banner.png"
            title="XXIV Ayuntamiento de Tijuana" data-source="https://pagos.tijuana.gob.mx/PagosenLinea/index.aspx">
            <img src="img/comunicados/paga-tu-predial-banner.png" width="auto" height="auto">
        </a>
        <a href="https://cnrnoticias.tv/img/comunicados/banner-cnr.png" 
            title="CNR Gracias" data-source="https://cnrnoticias.tv">
            <img src="img/comunicados/banner-cnr.png" width="75" height="75">
        </a>
    </div-->
        </div>
        <div class="col-lg-2 col-sm-2 order-3 order-sm-2 tn-right pr-4">
            <div class="top-news">
                <a href="tel:6642109428" class="venobox" data-gall="gallery-item">
                    <img src="img\patrocinadores\viajes-genesis.png" alt="Viajes Genesis" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="tel:6641036582" class="venobox" data-gall="gallery-item">
                    <img src="img\patrocinadores\visa-laser-corregido.png"
                    alt="Visa Laser Xpress" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="tel:6616881611" class="venobox" data-gall="gallery-item">
                    <img src="img\patrocinadores\biblias-y-guitarras.png"
                    alt="Biblias y Guitarraas" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="tel:6616129149" class="venobox" data-gall="gallery-item">
                    <img src="img\patrocinadores\tortilleria-el-diamante.png"
                    alt="Tortillera el Diamante" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="https://pagos.tijuana.gob.mx/PagosenLinea/index.aspx" class="venobox" data-gall="gallery-item">
                    <img src="img/banners/publicidad-predial.jpeg"
                    alt="Predial Tijuana" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="https://rosaritocentro.com/" class="venobox" data-gall="gallery-item">
                    <img src="img/patrocinadores/Rosarito-Centro.jpg"
                    alt="Rosarito Centro" class="img-fluid"></a>
            </div>
            <hr>
            <div class="top-news">
                <a href="http://www.afntijuana.info" class="venobox" data-gall="gallery-item">
                    <img src="img/patrocinadores/AFN.jpeg"
                    alt="Agencia Fronteriza de NOTICIAS" class="img-fluid"></a>
            </div>
        </div>
    </div>



    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Tecate</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/KfyFwrDKcezNKeuV9"> Pdte. Lázaro Cárdenas 13 - Int 6C<br> Zona Centro, 21400 Tecate, B.C.
                                México</a>
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526651226719">+52 665 122 6719</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Rosarito</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/49mF6UpsDN86hJzH9"> Blvd. Benito Juárez 300<br> Machado Nte. 22703 Rosarito, B.C.
                                México</a>
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526616124333">+52 661 612 4333</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Tijuana</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/B2cLjVtXXVGmBhdZ7"> Ave. Netzahualcóyotl<br> Zona Urbana Río, 22010 Tijuana,
                                B.C. México</a>
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526646889846">+52 664 688 9846</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; <a href="https://cnrnoticias.tv/">CNR NOTICIAS </a>. All Rights Reserved</p>
                </div>

                <div class="col-md-6 template-by">
                    <p>Designed by <a href="https://rosaritocentro.com">Rosarito Centro</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <!--script defer data-key="79df3c25-885d-429e-aa4b-e17b9c30ab4c" src="https://widget.tochat.be/bundle.js"></script-->

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Cargando imagen #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">No se pudo #%curr%</a> cargar la imagen.',
                    titleSrc: function (item) {
                        var titulo = item.el.attr('title');
                        if (item.el.attr('data-source')) {
                            titulo = titulo + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_black">Paga tu Predial</a>';
                        }
                        return titulo;
                    }

                }
            });
            $('#comunicados').click();
        });
    </script>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>

</body>

</html>
