 <!-- Brand Start -->
 <div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-4">
                <div class="b-logo">
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="b-ads">
                    <a href="index.html">
                        <img src="/img/logos/logo.png" alt="Logo de CNR Noticias">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="b-search">
                    <font size="1">
                        <script languaje="JavaScript">
                            var mydate = new Date()
                            var year = mydate.getYear()
                            if (year < 1000)
                                year += 1900
                            var day = mydate.getDay()
                            var month = mydate.getMonth()
                            var daym = mydate.getDate()
                            if (daym < 10)
                                daym = "0" + daym
                            var dayarray = new Array("Domingo,", "Lunes,", "Martes,", "Miércoles,", "Jueves,", "Viernes,", "Sábado,")
                            var montharray = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
                            document.write("<font color='white' face='Newsreader' style='font-size:12pt'>" + dayarray[day] + " " + daym + " de " + montharray[month] + " de " + year + "</font>")
                        </script>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->