    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Tecate</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Presidente Lázaro Cárdenas 13 Int 6C, 21400 Tecate, B.C.
                                México
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526651226719">+52 665 122 6719</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Rosarito</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>Blvd. Benito Juárez 300, 22703 Playas de Rosarito, B.C. México
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526616124333">+52 661 612 4333</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="title">CNR Tijuana</h3>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i> Ave. Netzahualcóyotl, 22010 Zona Urbana Río Tijuana, B.C. México
                            </p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:contacto@cnrnoticias.tv">
                                    contacto@cnrnoticias.tv</a>
                            <p><i class="fa fa-phone"><a href="tel:+526646889846">+52 664 688 9846</a></i>
                            </p>
                            <div class="social">
                                <a href="https://www.facebook.com/cnrnoticias "><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCr8eCa3i5h4PGApvmK1IyTw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Footer Menu Start -->
    <!--div class="footer-menu">
        <div class="container">
            <div class="f-menu">
                <a href="">Terminos y condiciones</a>
                <a href="">Aviso de Privacidad</a>
                <a href="">Cookies</a>
                <a href="">Bolsa de Trabajo</a>
                <a href="publicidad.html">Publicate</a>
                <a href="contact.html">Contacto</a>
            </div>
        </div>
    </div-->
    <!-- Footer Menu End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; <a href="https://cnrnoticias.tv/">CNR NOTICIAS </a>. All Rights Reserved</p>
                </div>

                <div class="col-md-6 template-by">
                    <p>Designed by <a href="https://rosaritocentro.com">Rosarito Centro</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>