<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Lo más relevante</h2>
                <div class="row cn-slider">
                    
                    {% for post in site.categories.tijuana limit:1 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div> 
                            <p><a href="{{ post.url }}">{{ post.title }}  </a></p>
                            <p>{{ post.date |  date_to_string }} | {{ post.categories[0] }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    
                    {% for post in site.categories.tecate limit:1 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div> 
                            <p><a href="{{ post.url }}">{{ post.title }}  </a></p>
                            <p>{{ post.date |  date_to_string }} | {{ post.categories[0] }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    
                    {% for post in site.categories.rosarito limit:1 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div> 
                            <p><a href="{{ post.url }}">{{ post.title }}  </a></p>
                            <p>{{ post.date |  date_to_string }} | {{ post.categories[0] }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    
                    {% for post in site.categories.mexicali limit:1 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div> 
                            <p><a href="{{ post.url }}">{{ post.title }}  </a></p>
                            <p>{{ post.date | date_to_string }} | {{ post.categories[0] }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>