<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <div class="nav-item dropdown">
                        <a href="{{ "#" | relative_url }}" class="nav-link">Inicio</a>
                        <div class="dropdown-menu">
                            <!--a href="{{ "programacion-en-vivo" | relative_url }}" class="dropdown-item">PROGRAMACION EN VIVO </a>
                            <a href="{{ "noticiero" | relative_url }}" class="dropdown-item">BANNER NOTICIERO</a>
                            <a href="{{ "clima" | relative_url }}" class="dropdown-item">CLIMA</a>
                            <a href="{{ "noticias-relevantes" | relative_url }}" class="dropdown-item">NOTAS RELEVANTES</a>
                            <a href="{{ "redes-sociales" | relative_url }}" class="dropdown-item">REDES SOCIALES</a>
                            <a href="{{ "publicidad" | relative_url }}" class="dropdown-item">PUBLICIDAD</a-->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{ "en-vivo.html" | relative_url }}" class="nav-link">En Vivo</a>
                        <div class="dropdown-menu">
                            <!--a href="{{ "tijuana" | relative_url }}" class="dropdown-item">PANTALLA GRANDE DE LA PROGRAMACION EN VIVO</a>
                            <a href="{{ "tecate" | relative_url }}" class="dropdown-item">BANNERS DE PROGRAMAS (FLYERS) </a>
                            <a href="{{ "cobertura" | relative_url }}" class="dropdown-item">COBERTURA</a-->
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{ "noticias.html" | relative_url }}" class="nav-link">Noticias</a>
                        <div class="dropdown-menu">
                            <a href="{{ "tijuana" | relative_url }}" class="dropdown-item">Tijuana</a>
                            <a href="{{ "rosarito" | relative_url }}" class="dropdown-item">Rosarito</a>
                            <a href="{{ "tecate" | relative_url }}" class="dropdown-item">Tecate</a>
                            <a href="{{ "mexicali" | relative_url }}" class="dropdown-item">Mexicali</a>
                            <a href="{{ "ensenada" | relative_url }}" class="dropdown-item">Ensenada</a>
                            <a href="{{ "ensenada" | relative_url }}" class="dropdown-item">San Diego</a>
                            <a href="{{ "ensenada" | relative_url }}" class="dropdown-item">Editoriales</a>
                            <a href="{{ "ensenada" | relative_url }}" class="dropdown-item">Nacional</a>
                            <a href="{{ "ensenada" | relative_url }}" class="dropdown-item">Internacional</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="{{ "programacion.html" | relative_url }}" class="nav-link">Programación</a>
                        <!--div class="dropdown-menu">
                            <a href="{{ "tijuana" | relative_url }}" class="dropdown-item">LINKS DE YOUTUBE DE LOS PROGRAMAS</a>
                            <a href="{{ "tecate" | relative_url }}" class="dropdown-item">BANNERS DE PROGRAMAS</a>
                        </div-->
                    </div>
                    <!--div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CONOCENOS</a>
                        <div class="dropdown-menu">
                            <a href="{{ "quienes-somos" | relative_url }}" class="dropdown-item">QUIENES SOMOS?</a>
                            <a href="{{ "director-fundador" | relative_url }}" class="dropdown-item">DIRECTOR Y FUNDADOR DE CNR</a>
                            <a href="{{ "direccion" | relative_url }}" class="dropdown-item">DIRECCION</a>
                            <a href="{{ "ventas" | relative_url }}" class="dropdown-item">VENTAS</a>
                            <a href="{{ "reporteros" | relative_url }}" class="dropdown-item">REPORTEROS</a>
                        </div>
                    </div-->
                    <div class="nav-item dropdown">
                        <a href="{{ "contact.html" | relative_url }}" class="nav-link">Contacto</a>
                        <!--div class="dropdown-menu">
                            <a href="{{ "contact.html" | relative_url }}" class="dropdown-item">Contacto</a>
                            <a href="{{ "anunciate-con-nosotros" | relative_url }}" class="dropdown-item">ANUNCIATE CON NOSOTROS</a-->
                        </div-->
                    </div>
                     <!--a href="{{ "cobertura.html" | relative_url }}" class="nav-item nav-link">Cobertura</a-->
                    <!--a href="{{ "noticias.html" | relative_url }}" class="nav-item nav-link">Noticias</a-->
                </div>
                <div class="social ml-auto">
                    <a href="https://www.facebook.com/cnrnoticias"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCRhoI3g9LB5C3-H7y9vQgxw"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>