<!-- Main News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ " tijuana" | relative_url }}">Tijuana</a></h2>
                <div class="row cn-slider">
                    {% for post in site.categories.tijuana limit:4 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div>
                            <p><a href="{{ post.url }}">{{ post.title }} </a></p>
                            <p>{{ post.date |  date_to_string }} | {{ post.categories[0] | capitalize }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ " tecate" | relative_url }}">Tecate</a></h2>
                <div class="row cn-slider">
                    {% for post in site.categories.tecate limit:4 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img loading="lazy" src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div>
                            <p><a href="{{ post.url }}">{{ post.title }} </a></p>
                            <p>{{ post.date | date_to_string }} | {{ post.categories[0] | capitalize }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ " rosarito" | relative_url }}">Rosarito</a></h2>
                <div class="row cn-slider">
                    {% for post in site.categories.rosarito limit:4 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img loading="lazy" src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div>
                            <p><a href="{{ post.url }}">{{ post.title }} </a></p>
                            <p>{{ post.date | date_to_string }} | {{ post.categories[0] | capitalize }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ " mexicali" | relative_url }}">Mexicali</a></h2>
                <div class="row cn-slider">
                    {% for post in site.categories.mexicali limit:4 %}
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img loading="lazy" src="{{ post.image }}" />
                            <!-- <div class="cn-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div> -->
                        </div>
                        <div>
                            <p><a href="{{ post.url }}">{{ post.title }} </a></p>
                            <p>{{ post.date | date_to_string }} | {{ post.categories[0] | capitalize}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News End-->